name: Build APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Baixar código
      uses: actions/checkout@v4

    - name: Instalar dependências
      run: |
        sudo apt update
        sudo apt install -y python3-pip openjdk-17-jdk \
        build-essential git zip unzip \
        libffi-dev libssl-dev

    - name: Instalar Buildozer
      run: |
        pip3 install --upgrade pip
        pip3 install buildozer cython

    - name: Compilar APK
      run: |
        buildozer android debug

    - name: Salvar APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk

